<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:object="${user}" action="/users/create-new-user" method="post">
    <h1>Create new user </h1>
    <p>First name :</p>
    <input th:field="*{firstName}" >
    <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
    <p>Last name :</p>
    <input th:field="*{lastName}" >
    <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
    <p>Age :</p>
    <input th:field="*{age}" >
    <p th:if="${#fields.hasErrors('age')}" th:errors="*{age}" ></p>
    <p>Phone number :</p>
    <input th:field="*{phoneNumber}" >
    <p th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></p>
    <p>Email :</p>
    <input th:field="*{email}" >
    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
    <input type="submit" value="Create">
    <h3 th:text="${message}"></h3>
</form>

</body>
</html>