<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update  product</title>
</head>
<body>
<h3>Update  product</h3>
<a th:href="@{/products}">Back to home page</a>
<div style="text-align: center">
    <form th:action="@{/products/update}" th:object="${product}" method="post">
        <input type="hidden" th:field="*{id}">
        <h4>Name</h4>
        <input type="text" th:field="*{name}">
        <h4>Price</h4>
        <input type="text" th:field="*{price}">
        <h4>Type</h4>
        <select th:field="*{idTypeProduct}">
            <option  th:each="typeProduct : ${typeProducts}" th:value="${typeProduct.id}" th:text="${typeProduct.name}">
            </option>
        </select>
        <h4>Amount</h4>
        <input th:field="*{amount}">
        <h4>Check</h4>
        <input type="submit" value="Update">
    </form>
    <p th:text="${message}"></p>
</div>
</body>
</html>