<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Comments</title>
</head>
<body>
<form>
    <table th:each="comment :${comments}">
        <tr>
            <th>ID</th>
            <th>Author</th>
            <th>Feed back</th>
            <th>Mark</th>
        </tr>
        <tr>
            <td th:text="${comment.id}"></td>
            <td th:text="${comment.author}"></td>
            <td th:text="${comment.feedback}"></td>
            <td th:text="${comment.mark}"></td>
        </tr>

    </table>

</form>
<h1 th:text="${message}"></h1>
</body>
</html>